//  fonts
$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Fira Sans", serif;
$font-family-Roboto: "Roboto", serif;

// color
$color: (
  base: #FFF,
  main: #163f74,
  main-thick: #002a52,
  main-thin: #eef3f8,
  accent1: #fef251,
  accent2: #d33365,
  text: #1a1a1a,
  text2: #023E78
);

// font-size
$baseFontSize: 16px;

// line-height
$line-height-base: normal;
$line-height-small: 1.42857;
$line-height-middle: 1.5;
$line-height-large: 1.71429;


// breakpoint
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
  xxl: "screen and (min-width: 1280px)",
);
