@use "../global/" as *;

.c-breadcrumbs {
  padding-block: 9px;

  @include mq("md") {
    padding-block: 10px;
  }
}

.c-breadcrumbs__inner {
  display: flex;
  gap: 9.5px;
  align-items: center;
  padding-inline: 20px;

  @include mq("md") {
    padding-inline: min(calc(90px / 1280px * 100vw), 90px);
    max-width: 1280px;
    margin-inline: auto;
  }

  span {
    color: #888;
    font-size: 12px;
    font-weight: 500;

    &.current-item {
      color: map-get($map: $color, $key: text);
    }
  }
}
