@use "../global/" as *;

.p-contact-thanks {
  margin-top: 49px;
  margin-bottom: 99px;

  @include mq("md") {
    margin-top: 67px;
    margin-bottom: 160px;
  }
}

.p-contact-thanks__inner {
  padding-inline: 20px;
  max-width: 375px;
  margin-inline: auto;

  @include mq("md") {
    max-width: calc(687px + 20px * 2);
  }
}

.p-contact-thanks__text {
  font-size: 14px;
  font-weight: 500;
  line-height: $line-height-large;
}

.p-contact-thanks__links {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}

.p-contact-thanks__arrow {
  font-size: 14px;
  font-weight: 500;
}

.p-contact-thanks__link {
  color: map-get($map: $color, $key: text2);
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
