@use "../global/" as *;

.p-cta {
}

.p-cta__inner {
}

.p-cta__boxes {
  display: flex;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
  }
}

.p-cta__box {
  width: 100%;
  padding-block: 45px 25px;
  position: relative;
  z-index: 1;

  @include mq("md") {
     padding-block: 55px 49px;

  }
}

.p-cta__box--download {
  background: url(../img/common/common-photo-1-footer-download.webp) no-repeat
    center center / cover;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 82, 162, 0.8);
    z-index: 0;
  }
}

.p-cta__box--contact {
  background: url(../img/common/common-photo-2-footer-contact.webp) no-repeat
    center center / cover;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: map-get($map: $color, $key: text2);
    opacity: 0.8;
    z-index: 0;
  }
}

.p-cta__box-inner {
  position: relative;
  z-index: 2;
  padding-inline: 40px;
  max-width: 375px;
  margin-inline: auto;

  @include mq("md") {
    max-width: calc(315px + 20px * 2);
    padding-inline: 20px;
  }
}

.p-cta__box-title {
  color: map-get($map: $color, $key: base);
}

.p-cta__box-title--en {
  text-align: center;
  color: inherit;
  font-family: $font-family-en;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  
  @include mq("md") {
    font-size: 60px;
  }
}

.p-cta__box-title--ja {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  margin-top: 6px;
  text-align: center;
}

.p-cta__box-link {
  margin-top: 40px;
  border: 2px solid #fff400;
  color: #fff400;
  padding-block: 26px;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 77px;
  box-sizing: border-box;

  @include mq("md") {
    border: 3px solid #fff400;
    padding-block: 31px 32px;
    min-height: 98px;
    margin-top: 37px;
  }

  svg {
    position: absolute;
    right: 18px;
    top: 50%;
    translate: 0 -50%;

    @include mq("md") {
      right: 29px;
    }
  }
}

.p-cta__box-link-text {
  display: inline-block;
  color: inherit;
  font-family: $font-family-en;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  padding-inline: 20px;
  text-align: center;
  width: 100%;

  @include mq("md") {
    font-size: 24px;
  }
  
}
