@use "../global/" as *;

.p-contact-field {
}

.p-contact-field__head {
  display: flex;
  gap: 12px;
  align-items: center;
}

.p-contact-field__label {
  font-size: 14px;
  font-weight: 700;
}

.p-contact-field__required {
  display: inline-block;
  background-color: #e61264;
  color: map-get($map: $color, $key: base);
  font-size: 12px;
  font-weight: 700;
  padding-block: 2px;
  padding-inline: 8px;
}

.p-contact-field__body {
  width: 100%;

  input,
  select,
  textarea {
    background-color: map-get($map: $color, $key: base);
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }

  input,
  textarea {
    &::placeholder {
      color: #ccc;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.p-contact-field__input-text {
  padding-block: 11px;
  padding-inline: 15px;
  min-height: 44px;
  box-sizing: border-box;
}

.p-contact-field__body--select {
  position: relative;

  &::after {
    content: "";
    background: url(../img/contact/contact-icon-select.svg) no-repeat center
      center / contain;
    position: absolute;
    width: 22px;
    height: 16px;
    top: 50%;
    translate: 0 -50%;
    right: 10px;
  }
}

.p-contact-field__select {
  font-weight: 500;
  padding-block: 11px;
  padding-inline: 15px;
  min-height: 44px;
  box-sizing: border-box;
  font-size: 14px;
  color: #ccc;

  &.is-selected {
    color: #1a1a1a;
  }
}

.p-contact-field__textarea {
  padding-block: 11px;
  padding-inline: 15px;
  min-height: 140px;
  resize: vertical;
}
