@use "../global/" as *;

.p-download {
  margin-top: 49px;
  margin-bottom: 99px;

  @include mq("md") {
    margin-top: 67px;
    margin-bottom: 118px;
  }
}

.p-download__inner {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 59px;

  @include mq("lg") {
    flex-direction: row;
    gap: min(calc(40px / 1280px * 100vw), 40px);
    padding-inline: min(calc(90px / 1280px * 100vw), 90px);
    max-width: 1280px;
    margin-inline: auto;
  }
}

.p-download__description-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @include mq("md") {
    gap: 0;
  }

  @include mq("lg") {
    max-width: 510px;
    width: calc(50% - min(calc(40px / 1280px * 100vw), 40px));
    flex-shrink: 0;
  }
}

.p-download__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;

  @include mq("md") {
    font-size: 28px;
    line-height: $line-height-small;
  }
}

.p-download__image {
  display: block;
  width: calc(275px / 375px * 100vw);
  aspect-ratio: 275 / 389;

  @include mq("md") {
    margin-top: 41px;
    max-width: 275px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.p-download__text {
  font-size: 14px;
  font-weight: 500;
  line-height: $line-height-large;

  @include mq("md") {
    margin-top: 38px;
  }
}

.p-download__form-wrap {
  background-color: #edf3f8;
  border-radius: 12px;
  min-height: 775px;
  padding: 40px 20px;
  width: 100%;

  @include mq("md") {
    min-height: 893px;
    padding-inline: min(calc(40px / 1280px * 100vw), 40px);
  }
}

.p-download__form-head {
  font-size: 24px;
  font-weight: 700;

  @include mq("lg") {
    font-size: 32px;
  }
}

.p-download__form-body {
  margin-top: 40px;
}

.p-download__form {
}

.p-download__fields {
  display: flex;
  flex-direction: column;
  gap: 19px;

  @include mq("md") {
    gap: 30px;
  }
}

.p-download__field {
}

.p-download__check {
  margin-top: 39px;
  text-align: center;

  @include mq("md") {
    margin-top: 43px;
  }

  a {
    margin-right: 5px;

    @include mq("md") {
      margin-right: 0;
    }
  }
}

.p-download__submit {
  margin-top: 44px;
  min-width: 295px;
  min-height: 72px;

  @include mq("md") {
    max-width: 336px;
    margin-top: 46px;
    margin-inline: auto;
  }
}

.p-download__submit-input {
  background-color: map-get($map: $color, $key: base);
  border: 1px solid currentColor;
  color: map-get($map: $color, $key: text2);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding-inline: 20px;
  padding-block: 25px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;

  &:focus {
    outline: 1px solid map-get($map: $color, $key: text2);
  }

  &:disabled {
    color: map-get($map: $color, $key: main-thin);
  }

  @include mq("md") {
    font-size: 16px;
  }
}
