@use "../global/" as *;

.p-header {
  height: 60px;
  padding-block: 14px 13px;
  background-color: #fff;

  @include mq("md") {
    height: 100px;
    padding-block: 16px;
  }
}

.p-header__inner {
  padding-inline: 20px;
  display: flex;
  justify-content: flex-start;

  @include mq("xl") {
    justify-content: space-between;
    align-items: center;
    padding-inline: 17px 16px;
    margin-inline: auto;
  }
}

.p-header__logo {
}

.p-header__logo-link {
  color: #023e78;
  font-family: $font-family-Roboto;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.14px;

  @include mq("xl") {
    font-size: 40px;
    letter-spacing: normal;
  }
}

.p-header__nav-wrap {
  display: none;

  @include mq("xl") {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.p-header__nav {
}

.p-header__list {
  display: flex;
  gap: 46px;

}

.p-header__item {
  position: relative;

  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: map-get($map: $color, $key: text);
      rotate: 45deg;
      left: calc(100% + 25px);
      top: 50%;
      translate: 0 -50%;
    }
  }
}

.p-header__link {
  font-size: rem(14);
  font-weight: 500;
  line-height: $line-height-large;
}

.p-header__buttons {
  display: flex;
  gap: 10px;
}

.p-header__button {
  min-width: 176px;
  min-height: 68px;
}


